:root{
    --bg:       rgb(172, 12, 92);
    --pink:     rgb(207, 11, 149);
    --b-purple: rgb(173, 13, 160);
    --btn-lg:   lightgray;
    --bg-lg:    rgb(189, 189, 189);
}


body{background-color: var(--bg);}
.pink{color: var(--pink);}
.b_purple{border-color: var(--b-purple);}
.btn_lg{background-color: var(--btn-lg);}
.bg_lg{background-color: var(--bg-lg);}
.radius{
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px black);}